<div class="container">
	<div class="home-positon">
		<% if @user.errors.any? %>
			<h2><%= @user.errors.count %>件のエラーがあります。</h2>
			    <ul>
			      <% @user.errors.full_messages.each do |message| %>
			        <li><%= message %></li>
			      <% end %>
			    </ul>
		<% end %>
		<h1>新規登録</h1>
		<%= form_for @user do |f| %>
		  <div>
		    <%= f.label :Eメール%>
		    <%= f.text_field :email%>
		  </div>
			<div>
		    <%= f.label :パスワード%>
		    <%= f.password_field :password%>
		  </div>
		  <div>
		    <%= f.label :パスワード再入力%>
		    <%= f.password_field :password_confirmation%>
		  </div>
		  <%= f.submit "登録"%>
		<% end %>
	</div>
</div>
