<h1>Tags#edit</h1>
<p>Find me in app/views/tags/edit.html.erb</p>
<% if @tag.errors.any? %>
	<h2><%= @tag.errors.count %>件のエラーがあります。</h2>
	    <ul>
	      <% @tag.errors.full_messages.each do |message| %>
	        <li><%= message %></li>
	      <% end %>
	    </ul>
<% end %>

<%= form_for @tag do |f| %>
  <div>
    <%= f.label :name%>
    <%= f.text_field :name%>
  </div>
  <%= f.submit "編集"%>
<% end %>
