<h1>Product#edit</h1>
<p>Find me in app/views/products/edit.html.erb</p>
<% if @product.errors.any? %>
	<h2><%= @product.errors.count %>件のエラーがあります。</h2>
	    <ul>
	      <% @product.errors.full_messages.each do |message| %>
	        <li><%= message %></li>
	      <% end %>
	    </ul>
<% end %>

<%= form_for @product do |f| %>
  <div>
		<%= f.label :title%>
    <%= f.text_field :title%>
		<%= f.label :price%>
    <%= f.text_field :price%>
		<%= f.label :image %>
    <%= f.file_field :image%>
		<%= f.label :description%>
    <%= f.text_field :description%>
  </div>
  <%= f.submit "編集"%>
<% end %>
