<div class="container">
	<div class="home-positon">
		<% if @product.errors.any? %>
			<h2><%= @product.errors.count %>件のエラーがあります。</h2>
			    <ul>
			      <% @product.errors.full_messages.each do |message| %>
			        <li><%= message %></li>
			      <% end %>
			    </ul>
		<% end %>
		<h1>商品管理画面</h1>
		<%= form_for @product do |f| %>
		  <div>
				<table>
					<tr>
						<td>
							<%= f.label :title%>
						</td>
						<td>
							<%= f.text_field :title%>
						</td>
					</tr>
					<tr>
						<td>
							<%= f.label :price%>
						</td>
						<td>
							<%= f.text_field :price%>
						</td>
					</tr>
					<tr>
						<td>
							<%= f.label :image %>
						</td>
						<td>
							<%= f.file_field :image%>
						</td>
					</tr>
					<tr>
						<td>
							<%= f.label :description%>
						</td>
						<td>
							<%= f.text_field :description%>
							<%= f.hidden_field :site_id, :value => params[:site_id] %>
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<%= f.submit "登録"%>
						</td>
					</tr>
				</table>
		  </div>
		<% end %>
		登録商品一覧<br/>
		<% @products.each do |product| %>
			<%= product.title %>
			<%= product.price %>
			<%= product.image %>
			<%= product.description %>
			<%= link_to '編集', edit_product_path(product.id) %>
			<%= link_to '削除', product_path(product.id), method: :delete, data: {confirm: "本当に削除しますか？"} %>
			<br/>
		<% end %>
	</div>
</div>
