<h1>Sites#new</h1>
<p>Find me in app/views/sites/edit.html.erb</p>
<% if @site.errors.any? %>
	<h2><%= @site.errors.count %>件のエラーがあります。</h2>
	    <ul>
	      <% @site.errors.full_messages.each do |message| %>
	        <li><%= message %></li>
	      <% end %>
	    </ul>
<% end %>

<%= form_for @site do |f| %>
  <div>
		<%= f.label :name%>
    <%= f.text_field :name%>
		<%= f.label :description%>
    <%= f.text_field :description%>
  </div>
  <%= f.submit "編集"%>
<% end %>
