<h1>Sites#index</h1>
<p>Find me in app/views/sites/index.html.erb</p>
<%= link_to('新規サイト作成', new_site_path)%>
<% @sites.each do |site| %>
	<div>
		サイト名：<%= site.name %>
		紹介：<%= site.description %>
		<%= link_to '詳細管理', site_path(site.id), method: :get %>
		<%= link_to 'サイト削除', site_path(site.id), method: :delete, data: {confirm: "本当に削除しますか？"} %>
	</div>
<% end %>
