<div class="container">
	<div class="home-positon">
		<h1>管理者画面</h1>
		<%= link_to('新規サイト作成', new_site_path)%>
		<% @sites.each do |site| %>
			<div>
				<table style="margin: 25px;">
					<tr>
						<td>
							サイト名：
						</td>
						<td>
							<%= site.name %>
						</td>
					</tr>
					<tr>
						<td>
							紹介：
						</td>
						<td>
							<%= site.description %>
						</td>
					<tr>
						<tr>
							<td colspan="2">
								<%= link_to '詳細管理', site_path(site.id), method: :get %>
								<%= link_to 'サイト削除', site_path(site.id), method: :delete, data: {confirm: "本当に削除しますか？"} %>
							</td>
						<tr>
			</table>
			</div>
		<% end %>
	</div>
</div>
