<div class="container">
	<div class="home-positon">
		<% if @site.errors.any? %>
			<h2><%= @site.errors.count %>件のエラーがあります。</h2>
			    <ul>
			      <% @site.errors.full_messages.each do |message| %>
			        <li><%= message %></li>
			      <% end %>
			    </ul>
		<% end %>
		<h1>新規サイト作成</h1>
		<%= form_for @site do |f| %>
		  <div>
				<table>
					<tr>
						<td>
							<%= f.label :name%>
						</td>
						<td>
							<%= f.text_field :name%>
						</td>
					</tr>
					<tr>
						<td>
							<%= f.label :description%>
						</td>
						<td>
							<%= f.text_field :description%>
							<%= f.hidden_field :user_id, :value => params[:user_id] %>
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<%= f.submit "登録"%>
						</td>
					</tr>
				</table>
		  </div>
		<% end %>
	</div>
</div>
