<h1>Sites#show</h1>
<p>Find me in app/views/sites/show.html.erb</p>
<div>
	サイト名：<%= @site.name %>
	紹介：<%= @site.description %>
	<%= link_to 'タイトル：紹介編集', edit_site_path(@site.id) %>
	<%= link_to '商品管理', new_product_path(site_id: @site.id) %>
	<%= link_to 'タグ管理', new_tag_path(site_id: @site.id) %>
</div>
