<!DOCTYPE html>
<html>
  <head>
    <title>AmazonIntroduce</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top navbar-transparent">
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
        <li>
          <%= link_to "管理者画面", sites_path%>
        </li>
        <li>
          <%= link_to "新規サイト作成", new_site_path%>
        </li>
        <li>
          <%= link_to "ログアウト", logout_path, method: :delete%>
        </li>
        <% else %>
        <li>
          <%= link_to "新規登録", new_user_path%>
        </li>
        <li>
          <%= link_to "ログイン", login_path%>
        </li>
        <% end %>
      </ul>
      <% if flash[:notice] %>
  <div class="alert alert-success">
    <%= flash[:notice] %>
  </div>
<% end %>
<% if flash[:alert] %>
  <div class="alert alert-danger">
    <%= flash[:alert] %>
  </div>
<% end %>
  </nav>
    <%= yield %>
  </body>
</html>
